{% style %}

@media screen and (min-width: 750px) {

.featured-products__text {
    width: 50%;
    margin: 0 auto;
}
}

.featured-products {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


{% endstyle %}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}


<div class="featured-products color-{{section.settings.color_scheme}}">
    <div class="featured-products__text center page-width">


        {% if section.settings.eyebrow %}

            <p class="smallcaps">{{section.settings.eyebrow}}</p>

        {% endif %}

        {% if section.settings.heading %}

            <h2>{{section.settings.heading}}</h2>

        {% endif %}

        {% if section.settings.copy %}

            {{section.settings.copy}}

        {% endif %}


    </div>
    <div class="featured-products__products grid grid--1-col grid--4-col-desktop grid--3-tablet page-width">


        {% for product in section.settings.product_list %}
            <div class="grid__item">
                {% render 'card-product',
        card_product: product,
        show_quick_add: true,
        show_pounds_pulled: section.settings.show_pounds_pulled,
        section_id: section.id

      %}
            </div>
        {% endfor %}

    </div>
</div>


{% schema %}
{
    "name": "Featured Products",
    "tag": "section",
    "class": "section",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Section heading",
        "default": "Heading"
    },
    {
        "type": "text",
        "id": "eyebrow",
        "label": "Eyebrow text",
        "default": "Featured Products"
    },
    {
        "type": "richtext",
        "id": "copy",
        "label": "Copy Text"
    },
    {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 8
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "type": "checkbox",
        "id": "show_pounds_pulled",
        "label": "Show pounds pulled",
        "default": false,
        "info": "Enable information on pounds pulled in button and on hover"
     },
     {
        "type": "checkbox",
        "id": "enable_quick_add",
        "label": "Enable quick add",
        "default": true,
        "info": "Enable ability to add directly to cart"
     },
     {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info"
      }
    ],
    "presets": [
      {
        "name": "Featured Products"
      }
    ]
}
{% endschema %}